@import "common/styles/Variables.scss";

.notfound {
  background-color: #eee;
  padding: $pm-10;
  &__wrapped {
    display: flex;
    justify-content: center;
    align-items: center;

    &--notify {
      font-size: $text-xl;
      font-weight: 600;
      text-align: center;
    }
  }
}

@media screen and (max-width: 540px) {
    .notfound {
        &__wrapped {
          &--notify {
            font-size: $text-sm;
            font-weight: 600;
          }
        }
      }
}
