@import "../../common/styles/Variables.scss";

.input {
  margin-bottom: 15px;
  position: relative;

  &__inputfield {
    border-radius: 20px;
    text-indent: 20px;
    color: $primary-text;
    font-size: 16px;

    &::placeholder {
      opacity: 0.7;
      color: $primary-text;
      text-indent: 20px;
    }
  }

  &__noneicon {
    border-radius: 20px;
    text-indent: 0;
    color: $primary-text;
    font-size: 16px;

    &::placeholder {
      text-indent: 0;
      opacity: 0.7;
      color: $primary-text;
    }
  }

  & > p {
    color: red;
    margin-top: 8px;
    font-size: 13px;
    font-style: italic;
  }

  &__prefix {
    position: absolute;
    top: 4px;
    left: 10px;
    font-size: 18px;
  }
}
