.app {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &__btn {
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
  }

  &__btn-success {
    background-color: green;
  }

  &__btn-error {
    background-color: red;
  }
}
