@import 'common/styles/Variables.scss';
@import 'common/styles/Global.scss';

.footer {
  background-color: #e9e9e9;
  color: $primary-text;

  &__head {
    display: flex;
    align-items: center;
    padding: $pm-10 $pm-10;
    margin: 0 $pm-48;
  }

  &__head-left {
    display: flex;
    align-items: center;
    flex: 0 0 75%;
    max-width: 75%;

    & > img {
      cursor: pointer;
    }

    & > ul {
      list-style: none;
      display: flex;
      gap: 15px;
      margin-top: $pm-16;
      margin-left: $pm-20;

      & > li {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-size: 14px;
        position: relative;
      }

      & > li:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 68%;
        background-color: $primary-text;
        top: 4px;
        right: -7px;
      }

      & > li:last-child:after {
        width: 0;
        height: 0;
      }
    }
  }

  &__head-right {
    flex: 0 0 25%;
    justify-content: flex-end;
    align-items: center;
    max-width: 25%;
    display: flex;

    & > div {
      margin: 0 $pm-10 0 0;
      font-size: 16px;
    }

    & > a {
      align-items: center;
      background-color: $primary-text;
      color: #fff !important;
      border-radius: 50%;
      display: flex;
      height: 2.125rem;
      justify-content: center;
      margin-right: $pm-10;
      width: 2.125rem;
      transition: all 0.3s ease-in-out;
    }

    & > a:hover {
      background-color: $third-text;
    }

    & > img {
      width: 106px;
      height: 40px;
      display: inline-block;
    }
  }

  &__bottom {
    margin: 0 $pm-48;
  }

  &__bottom-top {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $primary-text;
    padding: $pm-10 0;

    & > div {
      flex: 0 0 25%;

      & > h3 {
        text-transform: uppercase;
        color: #182642;
        font-size: $text-base;
        font-weight: 700;
      }

      & > ul {
        list-style: none;
        padding: 0;
        margin-bottom: 15px;

        & > li {
          margin-top: 2px;
        }
      }
    }
  }

  &__bottom-bottom {
    text-align: center;
    font-size: 16px;
    padding: $pm-20 0;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    &__head {
      margin: 0 0;
    }

    &__head-right {
      & > div {
        display: none;
      }
    }

    &__bottom {
      margin: 0 $pm-16;
    }

    &__bottom-top {
      & > div {
        flex: 0 0 25%;

        & > h3 {
          font-size: $text-base;
        }
      }
    }

    &__bottom-bottom {
      font-size: 15px;
      padding: $pm-20 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .footer {
    &__head {
      margin: 0 0;
    }

    &__head-left {
      display: none;
    }

    &__head-right {
      justify-content: center;
      max-width: 100%;
      flex: 0 0 100%;
    }

    &__bottom {
      margin: 0 $pm-16;
    }

    &__bottom-top {
      & > div {
        flex: 0 0 33.3334%;
        & > h3 {
          font-size: 15px;
        }
      }
    }

    &__bottom-bottom {
      font-size: $pm-14;
      padding: $pm-16 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    &__head {
      margin: 0 0;
    }

    &__head-left {
      display: none;
    }

    &__head-right {
      justify-content: center;
      max-width: 100%;
      flex: 0 0 100%;
    }

    &__bottom {
      margin: 0 $pm-14;
    }

    &__bottom-top {
      & > div {
        flex: 0 0 50%;

        & > h3 {
          font-size: $pm-14;
        }

        & > ul > li > a {
          white-space: nowrap;
        }
      }
    }

    &__bottom-bottom {
      font-size: $text-xs;
      padding: $pm-14 0;
    }
  }
}
