@import 'common/styles/Variables.scss';

.imageItem {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 120px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__delete {
    position: absolute;
    color: white;
    width: 16px;
    height: 16px;
    background: rgba(94, 114, 150, 0.9);
    top: 3px;
    right: 3px;
    cursor: pointer;
  }
}

@media screen and(max-width: 600px) {
  .imageItem {
    width: 260px;
    height: 200px;
  }
}
