@import "common/styles/Variables.scss";

.review {
  background-color: #d9edee;
  padding: $pm-10;

  &__wrapped {
    display: table;
  }

  &__left {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 65%;
    float: left;
    margin-left: $pm-20;
    padding: 0 $pm-16;

    &--title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      font-size: $text-3xl;

      &--subTitle {
        flex: 0 0 75%;
      }

      &--subTitle2 {
        margin-top: $pm-10;
        font-size: $text-sm;
        font-weight: normal;
      }

      &--logo {
        flex: 0 0 20%;
        & img {
          object-fit: contain;
        }
      }
    }
  }

  &__right {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    width: 30%;
    float: right;
    border-radius: 10px;
    margin-right: $pm-10;
    padding: $pm-16;

    &--title {
      font-size: $text-3xl;
    }

    &--list {
      margin-top: $pm-10;
    }

    &--link {
      margin-top: $pm-10;
      text-align: center;
    }
  }
}

@media screen and (max-width: 900px) {
  .review {
    &__left {
      width: 60%;
      margin-left: $pm-10;

      &--title {
        font-size: $text-2xl;

        &--subTitle {
          flex: 0 0 60%;
        }
      }
    }

    &__right {
      width: 35%;
      margin-right: $pm-10;

      &--title {
        font-size: $text-2xl;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .review {
    &__wrapped {
      row-gap: 20px;
    }

    &__left {
      margin-left: 0;
      width: 100%;
      padding: $pm-16;

      &--title {
        font-size: $text-xl;

        &--subTitle {
          flex: 0 0 100%;
        }

        &--subTitle2 {
          margin-top: $pm-4;
        }

        &--logo {
          display: none;
        }
      }
    }

    &__right {
      margin-top: $pm-20;
      width: 100%;
      margin-right: 0;

      &--title {
        font-size: $text-xl;
      }
    }
  }
}
