@import 'common/styles/Variables.scss';
@import 'common/styles/Global.scss';

.stepthree {
  &__select-scale {
    margin-bottom: 10px;

    &--select > div {
      border-radius: 20px;
    }

    &--select > div + div {
      border-radius: 0px;
    }

    & > p {
      color: red;
      margin-top: 8px;
      font-size: 13px;
      font-style: italic;
    }
  }

  &__form {
    & > p {
      color: red;
      margin-top: 8px;
      font-size: 13px;
      font-style: italic;
    }
  }

  &__check-box {
    padding: $pm-10 0;
    & > label {
      font-size: $text-base;
    }

    & > input {
      margin: 0 $pm-6 0 $pm-10;
      vertical-align: middle;
    }
  }

  &__actions {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > button {
      flex: 0 0 48%;
    }
  }
}

@media screen and (max-width: 500px) {
  .stepthree {
    &__check-box {
      & > label {
        font-size: $text-base;
      }
    }

    &__actions {
      & > button {
        flex: 0 0 100%;
      }
    }
  }
}
