@import "common/styles/Variables.scss";

.auth {
  background: url("/assets/images/bg_auth.jpg") center center no-repeat;
  background-size: cover;
  height: 100vh;

  &__wrapped {
    align-items: center;
    background: linear-gradient(
      to bottom,
      rgba(5, 16, 59, 0.5) 0%,
      rgba(80, 84, 106, 0.65) 40%
    );
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &__container {
    flex: 0 0 50%;
    text-align: center;

    &--title {
      font-size: $text-3xl;
      text-transform: uppercase;
      margin-bottom: $pm-10;
      color: $fifth-color;
      font-weight: 700;
    }

    &--content {
      font-size: $text-xl;
      margin-bottom: $pm-10;
      color: $fifth-color;
      font-weight: 500;
    }

    &--form {
      background-color: $fifth-color;
      border: 1px solid #e8e8e8;
      border-radius: 10px;
      padding: $pm-32 0;
    }
  }
}

@media screen and (max-width: 1024px) {
    .auth {
      &__container {
        flex: 0 0 90%;
  
        &--title {
          font-size: $text-2xl;
        }
  
        &--content {
          font-size: $text-lg;
        }
  
        &--form {
          padding: $pm-24 0;
        }
      }
    }
  }

@media screen and (max-width: 450px) {
  .auth {
    &__container {
      flex: 0 0 90%;

      &--title {
        font-size: $text-xl;
      }

      &--content {
        font-size: $text-base;
      }

      &--form {
        padding: $pm-20 0;
      }
    }
  }
}
