.hideText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.modalTitle {
  font-size: $text-2xl;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.status {
  position: absolute;
  padding: 1px 8px;
  font-weight: bold;
  color: white;
  font-size: 14px;
  text-transform: capitalize;
}

.notParticipate {
  color: red !important;
}

.participate {
  color: green !important;
}

.statusNotYetOccur {
  background-color: red;
}

.statusOccur {
  background-color: $third-text;
}

.statusPausing {
  background-color: $primary-text;
}

.statusFinish {
  background-color: green;
}

.statusDenied {
  background-color: red;
}

.statusUnapproval {
  background-color: $third-text;
}

.statusApproval {
  background-color: green;
}

.titleDashboard {
  font-size: $text-3xl;
  font-weight: 700;
  border-bottom: 1px solid #e8e8e8;

  & > span {
    font-size: $text-sm;
    color: red;
    vertical-align: super;
    font-weight: normal;
  }
}

.subTitleDashboard {
  font-size: $text-xl;
  font-weight: 600;
  padding: $pm-10 0;
}

.titleItem {
  font-weight: 700;
  font-size: $text-base;
}

.panel {
  font-size: 16px;
  border: none !important;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.isNew {
  position: absolute;
  padding: 1px $pm-8;
  background-color: red;
  color: white;
  font-size: $text-sm;
}

.iconField {
  margin-right: 3px;
  margin-bottom: 1px;
  color: $primary-text;
  font-size: $text-lg;
}

.overlayImage {
  background: linear-gradient(to bottom, rgba(9, 16, 59, 0.8) 0%, rgba(80, 84, 106, 0.65) 100%);
  height: 100%;
  width: 100%;
}

.imageItem {
  height: 165px;
  flex: 0 0 200px;
  max-width: 200px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;

  & > a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    & > img {
      max-width: 100%;
      max-height: 100%;
      padding: $pm-20;
    }
  }
}

.listItem {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.compulsory {
  font-size: $text-sm;
  color: red;
  margin-bottom: $pm-4;
}

.titleAuth {
  text-align: center;
  text-transform: uppercase;
  font-size: $text-2xl;
  font-weight: 700;
  margin: $pm-14 0;
}

.contentAuth {
  text-align: center;
  font-size: $text-base;
}

@media screen and (max-width: 900px) {
  .titleDashboard {
    font-size: $text-2xl;
    text-align: center;
  }

  .subTitleDashboard {
    font-size: $text-xl;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .imageItem {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .imageItem {
    display: none;
  }
  .titleDashboard {
    font-size: $text-xl;
    text-align: center;

    & > span {
      font-size: $text-xs;
    }
  }

  .modalTitle {
    font-size: $text-base;
  }

  .subTitleDashboard {
    font-size: $text-lg;
    text-align: center;
  }

  .titleAuth {
    font-size: $text-lg;
    margin: $pm-10 0;
  }

  .contentAuth {
    margin-top: $pm-10;
    font-size: $text-sm;
  }
}
