// #region CSS For Service
.link-no-border-highlight {
  color: $highlight-color !important;
  font-weight: bold;
  transition: all 0.25s ease-in-out;

  &:hover {
    text-decoration: underline;
  }
}

.link-highlight {
  position: relative;
  display: inline-block;
  color: $highlight-color !important;
  text-decoration: none;
  transition: all 0.25s ease-in-out;

  &:hover {
    &::after {
      width: 90%;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: $highlight-color !important;
    transition: all 0.25s ease-in-out;
  }
}

.link-one-line-highlight {
  position: relative;
  color: $highlight-color !important;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-height: 2rem;
  overflow: hidden;

  &:hover {
    text-decoration: underline;
  }
}
// #endregion

// #region Header Go Back
.headerBack {
  display: flex;
  align-items: center;
  margin-bottom: $pm-10;
  border-bottom: 1px solid #eee;
  padding-bottom: $pm-10;

  & > div:first-child {
    margin-right: $pm-10;
    font-size: $text-xl;

    & > svg {
      cursor: pointer;
      color: rgba(0, 0, 21, 0.5);
      transition: all 0.25s ease-in-out;

      &:hover {
        color: $primary-color;
      }
    }
  }

  & > div:last-child {
    color: $primary-text;
    font-size: $text-xl;
  }

  &__compulsory {
    font-size: $text-sm;
    color: red;
    vertical-align: super;
    font-weight: normal;
  }
}
// #endregion

// #region Actions
.actionData {
  margin: $pm-10 0;
  display: flex;
  align-items: center;
  gap: 10px;

  &__icon {
    margin-right: $pm-4;
  }

  & > button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 15%;
  }
}
// #endregion

// #region FormGroup & FormControl
.formGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__formControl {
    flex: 0 0 48%;
  }
}
// #endregion

// #region Label With Line Behind
.labelWithLine {
  position: relative;
  padding: $pm-10 0;
  margin: $pm-6 0;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #eee;
    top: 50%;
  }

  & > label {
    position: absolute;
    font-size: 9px;
    background: #eee;
    border-radius: 4px;
    font-weight: 500;
    padding: $pm-2 $pm-6;
    top: 0%;
    left: 3%;
    box-shadow: 2px 1px 0px rgba(0, 0, 0, 0.1);
  }
}
// #endregion

// #region Tag List
.tagList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $pm-10;

  &__item {
    display: flex;
    align-items: center;
    gap: $pm-4;
    font-size: 11px;
    background-color: #eee;
    padding: $pm-2 $pm-6;
    border-radius: 4px;
    font-weight: 500;

    &__icon {
      font-size: inherit;
    }
  }
}
// #endregion

.icon-gb-18 {
  font-size: $text-lg;
  margin: -$pm-2 $pm-2 0 0;
}

.icon-gb-red {
  font-size: $text-lg;
  margin: -$pm-2 $pm-2 0 0;
  color: red;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.link-fz-14 {
  font-size: $text-sm !important;
}

.link-fz-16 {
  font-size: $text-base !important;
}

.link-fz-18 {
  font-size: $text-lg !important;
}

.link-fz-20 {
  font-size: $text-xl !important;
}

// #region CSS tag <a> have border bottom
.link {
  position: relative;
  display: inline-block;
  color: $primary-text !important;
  text-decoration: none;
  transition: all 0.25s ease-in-out;

  &:hover {
    color: $third-text !important ;

    &::after {
      width: 90%;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: $third-text !important;
    transition: all 0.25s ease-in-out;
  }
}
// #endregion

// #region CSS Tag <a> no border bottom
.link-no-border {
  position: relative;
  display: inline-block;
  color: $primary-text !important;
  text-decoration: none;
  transition: all 0.25s ease-in-out;

  &:hover {
    color: $third-text !important ;
  }
}

.link-one-line {
  position: relative;
  color: $primary-text !important;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-height: 2rem;
  overflow: hidden;

  &:hover {
    color: $third-text !important;
  }
}
// #endregion

.hideText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.badge {
  color: $primary-text;
  transition: all 0.25s ease-in-out;

  &:hover {
    color: $third-text;
  }
}

@media screen and (max-width: 700px) {
  .link-fz-18 {
    font-size: $text-base !important;
  }

  .link-fz-16 {
    font-size: $text-sm !important;
  }
}

@media screen and (max-width: 440px) {
  .link-fz-14 {
    font-size: $text-sm !important;
  }

  .link-fz-18 {
    font-size: $text-sm !important;
  }

  .link-fz-16 {
    font-size: $text-sm !important;
  }

  .icon-gb-18 {
    font-size: $text-sm;
    margin: -$pm-2 $pm-2 0 0;
  }

  .icon-gb-red {
    font-size: $text-sm;
    margin: -$pm-2 $pm-2 0 0;
    color: red;
  }
}

.icon {
  margin-right: $pm-4;
  font-size: 18px;
  transition: all 0.25s ease-in-out;

  &__edit {
    color: $edit-color;

    &:hover {
      color: #3366cc9e;
    }
  }

  &__delete {
    color: $delete-color;

    &:hover {
      color: #ff7f81ab;
    }
  }

  &__restore {
    color: $restore-color;

    &:hover {
      color: #368b799c;
    }
  }
}

.modalTitle {
  font-size: $text-2xl;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.notifyContent {
  font-size: $text-base;
}

.status {
  position: absolute;
  padding: 1px 8px;
  font-weight: bold;
  color: white;
  font-size: 14px;
  text-transform: capitalize;
}

.notParticipate {
  color: red !important;
}

.participate {
  color: green !important;
}

.statusNotYetOccur {
  background-color: red;
}

.statusOccur {
  background-color: $third-text;
}

.statusPausing {
  background-color: $primary-text;
}

.statusFinish {
  background-color: green;
}

.statusDenied {
  background-color: red;
}

.statusUnapproval {
  background-color: $third-text;
}

.statusApproval {
  background-color: green;
}

.titleDashboard {
  font-size: $text-xl;
  font-weight: bold;
  border-bottom: 1px solid #e8e8e8;
  color: $primary-text;
  text-transform: uppercase;

  & > span {
    font-size: $text-sm;
    color: red;
    vertical-align: super;
    font-weight: normal;
  }
}

.titleTable {
  font-size: $text-xl;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: $pm-6;
  color: $second-color;
  font-weight: 500;
}

.subTitleDashboard {
  font-size: $text-lg;
  font-weight: 400;
  padding: $pm-10 0;
  color: $primary-text;
}

.titleItem {
  font-weight: 700;
  font-size: $text-base;
}

.panel {
  font-size: 16px;
  border: none !important;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.isNew {
  position: absolute;
  padding: 1px $pm-8;
  background-color: red;
  color: white;
  font-size: $text-sm;
}

.iconField {
  margin-right: 3px;
  margin-bottom: 1px;
  color: $primary-text;
  font-size: $text-lg;
}

.overlayImage {
  background: linear-gradient(to bottom, rgba(9, 16, 59, 0.8) 0%, rgba(80, 84, 106, 0.65) 100%);
  height: 100%;
  width: 100%;
}

.imageItem {
  flex: 0 0 200px;
  max-width: 200px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;

  & > a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    & > img {
      max-width: 100%;
      max-height: 100%;
      padding: $pm-20;
    }
  }
}

.listItem {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.compulsory {
  font-size: $text-sm;
  color: red;
  margin-bottom: $pm-4;
}

.titleAuth {
  text-align: center;
  text-transform: uppercase;
  font-size: $text-2xl;
  font-weight: 700;
  margin: $pm-14 0;
}

.contentAuth {
  text-align: center;
  font-size: $text-base;
}

.statusJob {
  font-size: $text-base;
  padding: $pm-4 $pm-10;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  color: white;

  &--saved {
    background-color: $restore-color;
  }

  &--announced {
    background-color: $primary-color;
  }

  &--notSaved {
    background-color: $edit-color;
  }

  &--deleted {
    background-color: $delete-color;
  }
}

@media screen and (max-width: 900px) {
  .titleDashboard {
    font-size: $text-lg;
    text-align: center;
  }

  .subTitleDashboard {
    font-size: $text-base;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .imageItem {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .imageItem {
    display: none;
  }
  .titleDashboard {
    font-size: $text-base;
    text-align: center;

    & > span {
      font-size: $text-xs;
    }
  }

  .modalTitle {
    font-size: $text-base;
  }

  .subTitleDashboard {
    font-size: $text-sm;
    text-align: center;
  }

  .titleAuth {
    font-size: $text-lg;
    margin: $pm-10 0;
  }

  .contentAuth {
    margin-top: $pm-10;
    font-size: $text-sm;
  }
}
