//Color
$primary-color: #0a426e;
$primary-color-70: #0a436ec2;
$second-color: #324554;
$third-color: #f5f8fa;
$fourth-color: #2196f3;
$fifth-color: #fff;

//Font Size
$text-xs: 0.75rem; //12px
$text-sm: 0.875rem; //14px
$text-base: 1rem; //16px
$text-lg: 1.125rem; //18px
$text-xl: 1.25rem; //20px
$text-2xl: 1.5rem; //24px
$text-3xl: 1.875rem; //30px
$text-4xl: 2.25rem; //36px
$text-5xl: 3rem; //48px
$text-6xl: 3.75rem; //60px
$text-7xl: 4.5rem; //72px
$text-8xl: 6rem; //96px
$text-9xl: 8rem; //128px

//Text Color
$primary-text: #5d677a;
$second-text: #fff;
$third-text: #f79d25;

//Margin-Padding
$pm-2: 0.125rem;
$pm-4: 0.25rem;
$pm-6: 0.375rem;
$pm-8: 0.5rem;
$pm-10: 0.625rem;
$pm-12: 0.75rem;
$pm-14: 0.875rem;
$pm-16: 1rem;
$pm-20: 1.25rem;
$pm-24: 1.5rem;
$pm-32: 2rem;
$pm-48: 3rem;
$pm-64: 4rem;
$pm-80: 5rem;
$pm-96: 6rem;
$pm-128: 8rem;
$pm-160: 10rem;
$pm-192: 12rem;

//Header
$h-header: 12vh;
$h-footer: 10rem;
