@import 'common/styles/Variables.scss';
@import 'common/styles/Global.scss';

.employerSetting {
  padding: $pm-10 0;

  &__wrapped {
    padding: 0 $pm-10;

    &--changePass {
      display: flex;
      justify-content: center;
      align-items: center;

      & > div {
        flex: 0 0 60%;
      }

      &--actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > button {
          flex: 0 0 48%;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .employerSetting {
    padding: $pm-4;

    &__wrapped {
      &--changePass {
        & > div {
          flex: 0 0 70%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .employerSetting {
    padding: $pm-4;

    &__wrapped {
      &--changePass {
        & > div {
          flex: 0 0 100%;
        }

        &--actions {
          flex-wrap: wrap;

          & > button {
            flex: 0 0 100%;
          }
        }
      }
    }
  }
}
