@import 'common/styles/Variables.scss';

.formServicePackage {
  background-color: $fifth-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: $pm-10 $pm-14;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: $pm-10;

    & > div:first-child {
      margin-right: $pm-10;
      font-size: $text-xl;

      & > svg {
        cursor: pointer;
        color: rgba(0, 0, 21, 0.5);
        transition: all 0.25s ease-in-out;

        &:hover {
          color: $primary-color;
        }
      }
    }

    & > div:last-child {
      color: $primary-text;
      font-size: $text-xl;
    }
  }

  &__actions {
    margin: $pm-10 0;
    display: flex;
    align-items: center;
    gap: 10px;

    &__icon {
      margin-right: $pm-4;
    }

    & > button {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 15%;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__formGroup {
      flex: 0 0 48%;
    }
  }
}
