@import "common/styles/Variables.scss";

.companyIntroduction {
  padding: $pm-20;
  background-color: #fff;
  box-shadow: 0 2px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  &__wrapped {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &--left {
      flex: 0 0 20%;
      text-align: center;
      border: 1px solid #e5e5e5;
      border-radius: 4px;
      background-color: #fff;

      &--logo {
        & img {
          object-fit: contain;
        }
      }
    }

    &--right {
      flex: 0 0 60%;
      color: $primary-text;

      &--companyName {
        font-size: $text-lg;
        text-transform: uppercase;
        font-weight: 700;
      }
    }

    &--action {
      flex: 0 0 15%;

      &--follower {
        font-size: $text-lg;
        text-align: center;
        color: $primary-text;
        margin-bottom: $pm-4;

        & span {
          font-weight: 700;
        }
      }
    }

    &--title {
      font-weight: 700;
      font-size: $text-base;
      margin: $pm-2 0;
    }

    &--link {
      font-size: $text-base !important;

      &:hover {
        text-decoration: none;
      }
    }

    &--icon {
      font-size: $text-base;
      margin-right: $pm-4;
    }
  }
}

@media screen and (max-width: 1196px) {
  .companyIntroduction {
    &__wrapped {
      &--action {
        &--follower {
          font-size: $text-sm;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .companyIntroduction {
    &__wrapped {
      &--right {
        flex: 0 0 55%;
      }

      &--action {
        &--follower {
          font-size: $text-xs;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .companyIntroduction {
    padding: $pm-14;

    &__wrapped {
      row-gap: 10px;

      &--left {
        flex: 0 0 100%;
        padding: $pm-14;
      }

      &--right {
        flex: 0 0 100%;

        &--companyName {
          text-align: center;
          font-size: $text-base;
        }
      }

      &--action {
        flex: 0 0 100%;

        &--follower {
          font-size: $text-base;
        }
      }

      &--title {
        font-size: $text-sm;
      }

      &--link {
        font-size: $text-sm !important;

        &:hover {
          text-decoration: none;
        }
      }

      &--icon {
        font-size: $text-sm;
      }
    }
  }
}
