@import "../../../../common/styles/Variables.scss";

.signin_emp {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapped {
    &--title {
      text-align: center;
      text-transform: uppercase;
      font-size: $text-2xl;
      font-weight: 700;
      margin: 15px 0;
    }

    &--content {
      text-align: center;
    }

    &--form {
      width: 100%;

      &--link {
        text-align: right;
        margin-bottom: 8px;
      }
    }

    &--signup {
      margin: 30px 0;
      text-align: center;

      & > span {
        font-weight: 400;
      }

      & > a {
        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .signin_emp {
    &__wrapped {
      &--signup {
        margin: 20px 0;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .signin_emp {
    padding-bottom: 10px;
    &__wrapped {
      &--content {
        margin-top: 10px;
      }
      &--signup {
        margin: 15px 0;
      }
    }
  }
}
