@import 'common/styles/Variables.scss';

.employerUs {
  margin-top: $pm-48 0;
  box-shadow: 0 3px 20px #88888829;
  padding-bottom: 20px;
  margin-bottom: 20px;

  &__title {
    font-weight: 600;
    font-size: 24px;
    padding-top: 20px;
    text-transform: uppercase;
    text-align: center;
  }

  &__block {
    max-width: 1170px;
    margin: 0 auto;
  }

  &__block-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
  }

  &__block-item {
    padding: 10px;
    border: 1px solid #ccc;
    width: 150px;
    height: 65px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px 1% 15px 0;

    & > img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .employerUs {
    &__title {
      margin-bottom: 30px;
      font-size: 21px;
    }

    &__block {
      max-width: 96%;
    }
  }
}

@media screen and (max-width: 500px) {
  .employerUs {
    &__title {
      margin-bottom: 30px;
      font-size: 21px;
    }

    &__block {
      max-width: 96%;
    }

    &__block-item {
      justify-content: space-evenly;
    }
  }
}
