@import 'common/styles/Variables.scss';

.featureC {
  margin: $pm-48 0;
  box-shadow: 0 3px 20px #88888829;
  padding-bottom: 20px;

  &__wrapped {
    max-width: 1170px;
    margin: 0 auto;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-top: 20px;
    text-align: center;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;

    &__item {
      width: 27%;
      text-align: center;
      margin: 0 3%;
      padding: 10px;
      transition: all 0.25s linear;

      &:hover,
      &:focus {
        box-shadow: 0 3px 20px #88888829;
        transform: scale(1.1);
      }
    }

    &__icon {
      text-align: center;
      margin-bottom: 20px;

      & > span {
        width: 80px;
        height: 80px;
        text-align: center;
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        margin: 0 auto;
        border-radius: 50%;
        justify-content: center;
        color: #2c53d2;
        font-size: 2em;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: #2c53d2;
          color: #fff;
        }
      }
    }

    &__title {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    &__content {
      font-weight: 300;
      color: #666;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 680px) {
  .featureC {
    &__wrapped {
      max-width: 96%;
    }

    &__title {
      margin-bottom: 30px;
      font-size: 21px;
    }

    &__bottom {
      &__item {
        width: 100%;
        margin: 0px 0 20px;
        text-align: center;
      }
    }
  }
}
