@import 'common/styles/Variables.scss';
@import 'common/styles/Global.scss';

.item {
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  flex: 0 0 48%;

  &:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
  }

  &__wrapped {
    position: relative;

    &--new {
      right: 0;
      top: 0;
      border-bottom-left-radius: 10px;
    }

    &--status {
      left: 0;
      top: 0;
      border-bottom-right-radius: 10px;
    }
  }

  &__top {
    height: 200px;
  }

  &__top-wrapped {
    position: relative;
  }

  &__top-slider {
    z-index: -1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
  }

  &__top-logo {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &__bottom {
    padding: $pm-10;
  }

  &__bottom-eventName {
    display: flex;
    justify-content: space-between;

    &__link {
      flex: 1;
      font-weight: bold;
      text-transform: uppercase;
      font-size: $text-base !important;
    }

    &__icon {
      font-size: $text-2xl;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #e8e8e8;
        border-radius: 50%;
      }
    }
  }

  &__bottom-field {
    font-size: $text-base;
    margin-top: $pm-2;

    & > span {
      font-weight: bold;
      color: $primary-text;
    }

    & > a {
      font-weight: bold;

      &:hover {
        text-decoration: none !important;
      }
    }
  }

  &__listTile {
    font-size: $text-base;
  }

  &__listTile-icon {
    font-size: $text-xl;
    vertical-align: text-bottom;
    margin-right: $pm-8;
  }
}

@media screen and (max-width: 1280px) {
  .item {
    flex: 0 0 48%;
    border: 1px solid #e5e5e5;
  }
}

@media screen and (max-width: 600px) {
  .item {
    flex: 0 0 100%;
    border: 1px solid #e5e5e5;
  }
}
