@import 'common/styles/Variables.scss';
@import 'common/styles/Global.scss';

.signup {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapped {
    &--form {
      width: 100%;
    }

    &--social {
      text-align: center;
      font-weight: 700;
      margin-top: 20px;

      & > span {
        font-weight: 400;
      }

      & > a {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .signup {
    &__wrapped {
      &--social {
        font-size: $text-sm;
      }
    }
  }
}
