@import 'common/styles/Variables.scss';
@import 'common/styles/Global.scss';

.signup {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapped-signin {
    margin: 30px 0;
    text-align: center;

    & > span {
      font-weight: 400;
    }
  }

  &__wrapped-form {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .signup {
    &__wrapped-signin {
      margin: 20px 0;
    }
  }
}
