@import 'common/styles/Variables.scss';

.companyDetail {
  padding: $pm-64 0;
  background-color: #d9edee;

  &__wrapped {
    padding: 0 $pm-48;
  }

  &__jobActiveList {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: $pm-10;
    gap: 30px;
    background-color: #fff;
  }

  &__reviewList {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: $pm-10;
    background-color: #fff;

    &__recommend {
      font-weight: 500;
      font-size: $text-lg;

      &--work {
        color: $primary-text;
      }

      &--no-work {
        color: #eb3939;
      }
    }

    &__rating {
      font-size: $text-3xl;
      font-weight: 500;
      color: #4287f5;
      vertical-align: sub;
      margin-right: $pm-10;
    }

    &__statistic {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
    }

    &__quantity {
      border-bottom: 1px solid lightgrey;
      font-size: $text-2xl;
      margin: $pm-10 0;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: $text-xl;
    font-weight: 700;
    margin: $pm-24 0 $pm-10 0;
  }

  &__content {
    display: table;
  }

  &__content-description {
    width: 68%;
    float: left;
    font-size: $text-base;
    padding: $pm-20;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  &__content-map {
    font-size: $text-lg;
    background-color: #fff;
    float: right;
    width: 30%;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    &__title {
      border-bottom: 1px solid #e6e6e6;
      padding: $pm-10;
      font-size: $text-base;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }

    &__iframe {
      width: 100%;
      height: 300px;
    }

    &__location {
      line-height: 20px;
      font-size: $text-base;
      color: $primary-text;
      padding: 0 $pm-10;
    }
  }
}

@media screen and (max-width: 800px) {
  .companyDetail {
    padding: $pm-32 0;

    &__wrapped {
      padding: 0 $pm-24;
    }

    &__content-map {
      width: 40%;
      padding: $pm-10 0 0 0;

      &__iframe {
        width: 100%;
        height: 300px;
      }

      &__location {
        font-size: $text-sm;
      }
    }

    &__content-description {
      font-size: $text-sm;
      padding: $pm-14;
      width: 58%;
    }
  }
}

@media screen and (max-width: 600px) {
  .companyDetail {
    padding: $pm-24 0;

    &__wrapped {
      padding: 0 $pm-16;
    }

    &__jobActiveList {
      gap: 10px;
    }

    &__title {
      font-size: $text-lg;
    }

    &__reviewList {
      &__recommend {
        font-weight: 500;
        font-size: $text-base;
      }

      &__statistic {
        & div {
          flex: 0 0 100%;
          text-align: center;
        }
      }

      &__quantity {
        font-size: $text-lg;
      }
    }

    &__content-map {
      margin-top: $pm-20;
      width: 100%;
      padding: $pm-10 0 0 0;

      &__iframe {
        width: 100%;
        height: 300px;
      }

      &__location {
        font-size: $text-sm;
        margin: $pm-10;
      }
    }

    &__content-description {
      font-size: $text-sm;
      padding: $pm-8;
      width: 100%;
    }
  }
}
