@import "common/styles/Variables.scss";
@import "common/styles/Global.scss";

.steptwo {
  &__select-scale {
    margin-bottom: 10px;

    &--select > div {
      border-radius: 20px;
    }

    &--select > div + div {
      border-radius: 0px;
    }

    & > p {
      color: red;
      margin-top: 8px;
      font-size: 13px;
      font-style: italic;
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > button {
      flex: 0 0 48%;
    }
  }
}

@media screen and (max-width: 500px) {
  .steptwo {
    &__actions {
      & > button {
        flex: 0 0 100%;
      }
    }
  }
}
