@import "common/styles/Variables.scss";

.sendmail {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapped {
    &--title {
      text-align: center;
      text-transform: uppercase;
      font-size: $text-2xl;
      font-weight: 700;
      margin: 15px 0;
    }

    &--content {
      text-align: center;
    }

    & > div:last-child {
      margin-top: 10px;

      &::before {
        content: "â†";
        margin-right: 5px;
        font-size: 17px;
      }

      &:hover,
      &:focus {
        color: $third-text;
      }
    }

    &--form {
      width: 100%;

      &--label {
        font-size: 14px;
        margin-left: 5px;
        margin-bottom: 5px;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .sendmail {
    &__wrapped {
      &--content {
        margin-top: 10px;
        font-size: $text-sm;
      }

      &--title {
        font-size: $text-lg;
        margin: 10px 0;
      }

      &--form {
        & > button {
          font-size: $text-sm;
        }
      }
    }
  }
}
