@import "../../common/styles/Variables.scss";

.header {
  align-items: center;
  background-color: $fifth-color;
  display: flex;
  height: $h-header;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  position: relative;

  &__logo {
    cursor: pointer;
    padding: 0 $pm-48;
  }

  &__block-right {
    align-items: center;
    display: flex;
    gap: 15px;
    text-align: center;
  }

  &__link {
    border-right: 1px solid #e8e8e8;
    color: $primary-text;
    font-size: 16px;
    font-weight: 400;
    padding-right: 15px;

    &--active {
      color: $third-text;
    }

    &--person {
      font-size: 20px;
      margin-right: 4px;
      vertical-align: middle;
    }

    &--emp {
      background-color: #324554 !important;
      color: $second-text !important;
      padding: 15.2px;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
    }

    &--emp > span:last-child {
      color: #999999 !important;
      font-size: 14px;
      font-weight: 400;
      text-transform: none;
    }

    &--emp:hover {
      background-color: #333 !important;
      color: $second-text !important;
      text-decoration: none !important;
    }
  }

  &__link:hover {
    color: #f79d25;
  }

  &__lang {
    color: $primary-text;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;

    &--profile {
      width: 100%;
      display: inline-block;
      margin: $pm-10 0 $pm-10 $pm-8;
    }

    & > button {
      background-color: transparent !important;
      color: $primary-text;
      border: none;
      padding: 0;

      &:hover,
      &:focus,
      &:active {
        color: $primary-text !important;
        outline: none !important;
      }
    }
  }

  &__ic {
    &--menu {
      display: none;
      cursor: pointer;
    }
    &--flag {
      margin-right: 5px;
      width: 1.25rem !important;
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  .header {
    height: calc(100% - 97%);
    position: relative;

    &__logo {
      padding: 0 $pm-16;
    }
  }
}

@media screen and (max-width: 800px) {
  .header {
    height: 3%;
    position: relative;

    &__logo {
      max-width: 85%;
      padding: 0 $pm-16;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: block;

    &__block-right {
      display: none;
      text-align: start;
    }

    &__block-right > a {
      padding: 10px;
    }

    &__lang {
      border-bottom: 1px solid #e8e8e8;
      padding: 10px;
    }

    &__link {
      border-bottom: 1px solid #e8e8e8;
      border-right: 0px;
      display: block;

      &--emp {
        display: grid;
        padding: 10px;
      }

      &--emp > br {
        display: none;
      }
    }

    &__logo {
      max-width: 42%;
      padding: 0 $pm-16;
    }

    &__ic {
      &--menu {
        display: block;
        font-size: $text-5xl;
        position: absolute;
        right: 5%;
        top: 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    display: block;

    &__block-right {
      display: none;
      text-align: start;
    }

    &__block-right > a {
      padding: 10px;
    }

    &__lang {
      border-bottom: 1px solid #e8e8e8;
      padding: 10px;
    }

    &__link {
      border-bottom: 1px solid #e8e8e8;
      border-right: 0px;
      display: block;

      &--emp {
        display: grid;
        padding: 10px;
      }

      &--emp > br {
        display: none;
      }
    }

    &__logo {
      max-width: 42%;
      padding: 0 $pm-16;
    }

    &__ic {
      &--menu {
        display: block;
        font-size: $text-4xl;
        position: absolute;
        right: 5%;
        top: 0;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .header {
    display: block;

    &__block-right {
      display: none;
      text-align: start;
    }

    &__block-right > a {
      padding: 10px;
    }

    &__lang {
      border-bottom: 1px solid #e8e8e8;
      padding: 10px;
    }

    &__link {
      border-bottom: 1px solid #e8e8e8;
      border-right: 0px;
      display: block;

      &--emp {
        display: grid;
        padding: 10px;
      }

      &--emp > br {
        display: none;
      }
    }

    &__logo {
      max-width: 42%;
      padding: 0 $pm-16;
    }

    &__ic {
      &--menu {
        display: block;
        font-size: $text-3xl;
        position: absolute;
        right: 5%;
        top: 0;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .header {
    display: block;

    &__block-right {
      display: none;
      text-align: start;
    }

    &__block-right > a {
      padding: 10px;
    }

    &__lang {
      border-bottom: 1px solid #e8e8e8;
      padding: 10px;
    }

    &__link {
      border-bottom: 1px solid #e8e8e8;
      border-right: 0px;
      display: block;

      &--emp {
        display: grid;
        padding: 10px;
      }

      &--emp > br {
        display: none;
      }
    }

    &__logo {
      max-width: 42%;
      padding: 0 $pm-16;
    }

    &__ic {
      &--menu {
        display: block;
        font-size: $text-2xl;
        position: absolute;
        right: 5%;
        top: 0;
      }
    }
  }
}
