@import "common/styles/Variables.scss";
@import "common/styles/Global.scss";

.userSetting {
  padding: $pm-10;

  &__wrapped {
    &--changePass {
      display: flex;
      justify-content: center;
      align-items: center;

      & > div {
        flex: 0 0 60%;

        & > div > label {
          font-size: $text-lg;
          margin-bottom: $pm-6;
          margin-left: $pm-4;
        }
      }

      &--actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > button {
          width: 48%;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .userSetting {
    padding: $pm-4;

    &__wrapped {
      &--changePass {
        & > div {
          flex: 0 0 70%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .userSetting {
    padding: $pm-4;

    &__wrapped {
      &--changePass {
        & > div {
          flex: 0 0 100%;

          & > div > label {
            font-size: $text-base;
          }
        }

        &--actions {
          flex-wrap: wrap;

          & > button {
            width: 100%;
          }
        }
      }
    }
  }
}
