@import 'common/styles/Variables.scss';
@import 'common/styles/Global.scss';

.signin {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapped {
    &--verify {
      color: red;
      text-align: center;
      margin: $pm-10 0;
    }

    &--verified {
      color: green;
      text-align: center;
      margin: $pm-10 0;
    }

    &--form {
      width: 100%;

      &--link {
        text-align: right;
        margin-bottom: 8px;
      }
    }

    &--social {
      margin: 30px 0;
      text-align: center;

      &--line {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        &::before {
          background: #e9e9e9;
          content: '';
          height: 1px;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          z-index: -1;
        }

        & > span {
          background: #ffffff;
          color: $primary-text;
          font-size: 14px;
          font-weight: 400;
          text-transform: uppercase;
          width: 40%;
        }
      }

      &--google {
        margin: 20px 0;
      }

      &--signup {
        font-weight: 700;

        & > span {
          font-weight: 400;
        }

        & > a {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1280px) {
  .signin {
    &__wrapped {
      &--social {
        &--line {
          & > span {
            width: 50%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 850px) {
  .signin {
    &__wrapped {
      &--social {
        &--line {
          & > span {
            width: 40%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 350px) and (max-width: 600px) {
  .signin {
    &__wrapped {
      &--social {
        margin: 20px 0;
        text-align: center;

        &--line {
          & > span {
            width: 65%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .signin {
    &__wrapped {
      &--social {
        margin: 15px 0;

        &--line {
          & > span {
            width: 70%;
          }
        }
      }
    }
  }
}
