@import 'common/styles/Variables.scss';

a {
  color: $primary-text;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: $third-text;
  text-decoration: underline;
}

.menuIcon {
  font-size: $text-xl !important;
}

.sliderEmployer {
  display: flex;
  height: 100vh - $h-header;

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #f79c25a8;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $third-text;
  }

  &__menuClose {
    position: fixed;
    cursor: pointer;
    padding: $pm-2;
    z-index: 555;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

    & > svg {
      font-size: $text-3xl;
    }
  }

  &__active {
    color: $primary-text !important;

    &:hover {
      color: $primary-text !important;
      text-decoration: none !important;
    }
  }

  &__menuHeader {
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
    padding: $pm-24 0;
    font-size: $text-xl;
    color: $primary-text;
    position: relative;

    & > div {
      position: absolute;
      top: 0;
      right: 4%;
      font-size: $text-xl;
      cursor: pointer;
    }
  }

  &__blockRight {
    padding: $pm-20;
    width: 100%;
    border-left: 1px solid #e8e8e8;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .menuIcon {
    font-size: $text-lg !important;
  }
  .sliderEmployer {
    &__menuHeader {
      text-align: center;
      padding: $pm-20 0;
      font-size: $text-lg;
    }
  }
}

@media screen and (max-width: 540px) {
  .menuIcon {
    font-size: $text-base !important;
  }
  .sliderEmployer {
    &__menuHeader {
      text-align: center;
      padding: $pm-20 0;
      font-size: $text-base;
    }
  }
}
