@import "common/styles/Variables.scss";
@import "common/styles/Global.scss";

.changePass {
  padding: $pm-10;
  background-color: $fifth-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  &__wrapped {
    &--changePass {
      display: flex;
      justify-content: center;
      align-items: center;

      & > div {
        flex: 0 0 60%;

        & > div > label {
          font-size: $text-lg;
          margin-bottom: $pm-6;
          margin-left: $pm-4;
        }
      }

      &--actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        & > button {
          flex: 0 0 48%;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .changePass {
    padding: $pm-4;

    &__wrapped {
      &--changePass {
        padding-bottom: $pm-10;

        & > div {
          flex: 0 0 70%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .changePass {
    padding: $pm-4 0;

    &__wrapped {
      padding: $pm-10 0;

      &--changePass {
        padding: $pm-10;

        & > div {
          flex: 0 0 100%;

          & > div > label {
            font-size: $text-base;
          }
        }

        &--actions {
          row-gap: 10px;

          & > button {
            flex: 0 0 100%;
          }
        }
      }
    }
  }
}
