@import 'common/styles/Variables.scss';
@import 'common/styles/Global.scss';

.changepass {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapped {
    &--form {
      width: 100%;
    }
  }
}
