@import 'common/styles/Variables.scss';
@import 'common/styles/Global.scss';

.changePass {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__form {
    width: 100%;
  }
}
