@import 'common/styles/Variables.scss';
@import 'common/styles/Global.scss';

.jobItem {
  margin-bottom: $pm-20;

  &--new {
    bottom: 0;
    right: 0;
    border-top-left-radius: 10px;
  }

  &__container {
    display: flex;
    overflow: hidden;
    padding: $pm-12;
    border: 1px solid #e5e5e5;
    position: relative;
  }

  &__container-img {
    flex: 0 0 200px;
    max-width: 200px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;

    & > a {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;

      & > img {
        max-width: 100%;
        max-height: 100%;
        padding: $pm-20;
      }
    }
  }

  &__container-content {
    padding-left: 15px;
    width: 100%;

    &__head {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      &__jobTitle {
        flex: 1;
      }
    }

    &__companyName {
      margin: $pm-6 0;
    }

    &__salary {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin: $pm-6 0;

      & > div:first-child {
        color: #008563;
      }
    }

    &__date {
      margin: $pm-6 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__action {
      text-align: end;
      margin-bottom: $pm-14;

      & > button {
        width: 30% !important;
        margin-bottom: 0 !important;

        & > svg {
          font-size: $text-xl;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .jobItem {
    margin-bottom: $pm-20;

    &__container-content {
      padding-left: 0;

      &__companyName {
        margin: $pm-4 0;
      }

      &__date {
        display: block;

        & > div {
          margin-bottom: $pm-4;
        }
      }

      &__action {
        & > button {
          width: 100% !important;

          & > svg {
            font-size: $text-lg;
          }
        }
      }
    }

    &__container-img {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .jobItem {
    margin-bottom: $pm-20;

    &--new {
      top: 0;
      bottom: auto;
      border-top-left-radius: 0;
      border-bottom-left-radius: 10px;
      font-size: $text-xs;
    }

    &__container-image {
      display: none;
    }

    &__container-content {
      padding-left: 0;
      font-size: $text-xs;

      &__head {
        margin-top: $pm-4;

        &__jobTitle {
          flex: 0 0 100%;
        }
      }

      &__salary {
        margin: 0 0;
      }

      &__companyName {
        margin: 0;
      }

      &__date {
        display: block;
        margin: 0 0;

        & > div {
          margin-bottom: $pm-4;
        }
      }

      &__action {
        margin-top: $pm-8;

        & > button {
          width: 100% !important;

          & > svg {
            font-size: $text-lg;
          }
        }
      }
    }
  }
}
