@import 'common/styles/Variables.scss';
@import 'common/styles/Global.scss';

.signup_emp {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapped {
    &--form {
      width: 100%;
    }

    &--signin {
      margin: 30px 0;
      text-align: center;

      & > span {
        font-weight: 400;
      }

      & > a {
        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .signup_emp {
    &__wrapped {
      &--signup {
        margin: 20px 0;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .signup_emp {
    padding-bottom: 10px;
    &__wrapped {
      &--signup {
        margin: 15px 0;
      }
    }
  }
}
