@import 'common/styles/Variables.scss';
@import 'common/styles/Global.scss';

.searchItem {
  margin-bottom: $pm-20;
  transition: all 0.2s linear;

  &:hover,
  &:focus {
    transform: translateY(-2px);
  }
}

.searchItem-wrap {
  display: flex;
  overflow: hidden;
  padding: 15px;
  border: 1px solid #e5e5e5;
  position: relative;

  &--new {
    bottom: 0;
    right: 0;
    border-top-left-radius: 10px;
  }
}

.imageItem {
  position: relative;

  &__overlay {
    background-color: rgba(232, 236, 241, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
  }

  &--expired {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red !important;
    font-weight: 600;
    font-size: $text-lg;
    text-transform: capitalize;
  }
}

.searchItem-block-right {
  padding-left: 15px;
  width: 100%;

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__header-left {
    flex: 1;
  }

  &__companyName {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: $pm-4 0;

    & > div {
      cursor: pointer;
      transition: all 0.25s ease-in-out;

      &:hover {
        color: red;
      }
    }
  }

  &__salary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    & > div:first-child {
      color: #008563;
    }
  }

  &__skill {
    margin: $pm-4 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;

    & > span {
      margin-right: 3px;
    }
  }

  &__date {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .searchItem {
    margin-bottom: $pm-20;
  }

  .searchItem-block-right {
    padding-left: 0;
    font-size: $text-sm;

    &__companyName {
      margin: $pm-4 0;
    }

    &__date {
      display: block;

      & > div {
        margin-bottom: $pm-4;
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .searchItem {
    margin-bottom: $pm-20;
  }

  .searchItem-block-right {
    padding-left: 0;
    font-size: $text-xs;

    &__header {
      gap: 2px;
    }

    &__header-left {
      flex: 0 0 100%;
    }

    &__companyName {
      margin: $pm-4 0;
      gap: 2px;
    }

    &__salary {
      & > div {
        flex: 0 0 100%;
      }

      & > div:last-child {
        margin-top: $pm-6;
      }
    }
  }
}
