@import "common/styles/Variables.scss";

.sendmailEmployer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapped {
    &--title {
      text-align: center;
      text-transform: uppercase;
      font-size: $text-2xl;
      font-weight: 700;
      margin: 15px 0;
    }

    &--content {
      font-size: $text-base;
      text-align: center;
    }

    & > div:last-child {
      margin-top: 10px;

      &::before {
        content: "←";
        margin-right: 5px;
        font-size: 17px;
      }

      &:hover,
      &:focus {
        color: $third-text;
      }
    }

    &--form {
      width: 100%;
    }
  }
}

@media screen and (max-width: 350px) {
  .sendmailEmployer {
    &__wrapped {
      &--content {
        margin-top: 10px;
        font-size: $text-sm;
      }

      &--title {
        font-size: $text-lg;
        margin: 10px 0;
      }
    }
  }
}
