@import "common/styles/Variables.scss";
@import "common/styles/Global.scss";

.item {
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  flex: 0 0 32%;

  &:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }

  &__icon {
    margin-right: 3px;
    margin-bottom: 1px;
    font-size: $text-base;
  }

  &__wrapped {
    padding: $pm-10 0;
    position: relative;

    &--new {
      position: absolute;
      right: 0;
      top: 0;
      padding: 1px 8px;
      background-color: red;
      color: white;
      border-bottom-left-radius: 10px;
      font-size: 14px;
    }
  }

  &__top {
    text-align: center;

    &--logo {
      width: 70%;
      object-fit: contain;
    }
  }

  &__bottom {
    padding: 0 $pm-10;

    &--salary {
      color: #008563;
    }

    &--actions {
      margin-top: $pm-10;
      display: flex;
      justify-content: space-between;

      & button {
        flex: 0 0 32%;
      }
    }
    &--actionsTrash {
      margin-top: $pm-10;
      display: flex;
      justify-content: space-between;

      & button {
        flex: 0 0 49%;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .item {
    flex: 0 0 48%;
    border: 1px solid #e5e5e5;
  }
}

@media screen and (max-width: 600px) {
  .hideText {
    white-space: pre-wrap;
  }

  .item {
    flex: 0 0 100%;
    border: 1px solid #e5e5e5;

    &__top {
      &--logo {
        width: 80%;
      }
    }
  }
}
