@import 'common/styles/Variables.scss';
@import 'common/styles/Global.scss';

.item {
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  flex: 0 0 32%;

  &__listTile {
    font-size: $text-base;

    &__icon {
      font-size: $text-xl;
      vertical-align: text-bottom;
      margin-right: $pm-8;
    }
  }

  &:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
  }

  &__icon {
    margin-right: 3px;
    margin-bottom: 1px;
    font-size: $text-base;
  }

  &__wrapped {
    padding: 0 0 $pm-10;
  }

  &__top {
    text-align: center;
    position: relative;

    &--new {
      right: 0;
      top: 0;
      border-bottom-left-radius: 10px;
    }

    &--status {
      bottom: 0;
      left: 0;
      border-top-right-radius: 10px;
    }
  }

  &__top-logo {
    width: 70%;
    object-fit: contain;
  }

  &__bottom {
    padding: 0 $pm-10;

    &__service {
      font-weight: bold;
      color: $primary-text;
    }

    &__jobTitle {
      display: flex;
      justify-content: space-between;

      &__link {
        flex: 1;
        font-weight: bold;
        font-size: $text-base !important;
      }

      &__icon {
        font-size: $text-2xl;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: #e8e8e8;
          border-radius: 50%;
        }
      }
    }
  }

  &__bottom-salary {
    color: #008563;
  }

  &__bottom-actions {
    margin-top: $pm-10;
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  &__bottom-actionsTrash {
    margin-top: $pm-10;
    display: flex;
    justify-content: space-between;

    & button {
      flex: 0 0 49%;
    }
  }
}

@media screen and (max-width: 1280px) {
  .item {
    flex: 0 0 48%;
    border: 1px solid #e5e5e5;
  }
}

@media screen and (max-width: 600px) {
  .item {
    flex: 0 0 100%;
    border: 1px solid #e5e5e5;

    &__top-logo {
      width: 80%;
    }
  }
}
