@import 'common/styles/Variables.scss';
@import 'common/styles/Global.scss';

.startExam {
  padding: $pm-20 0;

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: $text-xl;
    color: $primary-text;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  }

  &__numQues {
    position: fixed;
    width: 20%;
    right: 3%;
    top: 8%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    color: $primary-text;

    &__wrap {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    &__timeCount {
      background-color: #eee;
      padding: $pm-8 $pm-10;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
      border-radius: 4px;

      &__countdown {
        font-size: $text-lg;
      }
    }
  }

  &__questionList {
    padding: 0 $pm-20;
    margin: 0 $pm-20;
  }
}
