@import "common/styles/Variables.scss";

.auth {
  color: $primary-text;
  padding: $pm-48;

  &__container {
    &--title {
      font-size: $text-3xl;
      font-weight: 700;
      margin-bottom: 15px;
      text-align: center;
    }

    &--wrapped {
      border: 1px solid #e8e8e8;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
      display: flex;
      margin: auto;
      max-width: 1170px;

      &--column-left {
        border-right: 1px solid #e8e8e8;
        display: flex;
        width: 50%;
      }

      &--column-right {
        padding: 30px 50px;
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1024px) {
  .auth {
    padding: $pm-32;

    &__container {
      &--title {
        font-size: $text-2xl;
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 850px) {
  .auth {
    padding: $pm-24;

    &__container {
      &--title {
        font-size: $text-xl;
      }

      &--wrapped {
        display: block;

        &--column-left {
          display: none;
        }
        &--column-right {
          padding: 10px 30px;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .auth {
    padding: $pm-20;

    &__container {
      &--title {
        font-size: $text-lg;
      }

      &--wrapped {
        display: block;

        &--column-left {
          display: none;
        }
        &--column-right {
          width: 100%;
          padding: 10px 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .auth {
    padding: $pm-16;

    &__container {
      &--title {
        font-size: $text-base;
      }

      &--wrapped {
        display: block;

        &--column-left {
          display: none;
        }
        &--column-right {
          width: 100%;
          padding: 0 10px;
        }
      }
    }
  }
}
