@import 'common/styles/Variables.scss';
@import 'common/styles/Global.scss';

.jobActive {
  border-bottom: 1px solid #e5e5e5;
  padding: $pm-10 $pm-20;
  transition: all 0.25s linear;
  flex: 0 0 48%;
  min-width: 0;

  &:hover {
    border-radius: 5px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }

  &__wrapped {
    font-size: $text-base !important;
  }

  &__wrapped-jobTitle {
    font-size: $text-lg !important;
    font-weight: 700;

    &:hover {
      text-decoration: none !important;
    }
  }

  &__wrapped-salary {
    color: #008563;
  }
}

@media screen and (max-width: 800px) {
  .jobActive {
    padding: $pm-8;
    flex: 0 0 47%;

    &__wrapped {
      font-size: $text-sm !important;
    }

    &__wrapped-jobTitle {
      font-size: $text-base !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .jobActive {
    padding: $pm-8;
    flex: 0 0 100%;
  }
}

@media screen and (max-width: 360px) {
  .jobActive {
    padding: $pm-8;
    flex: 0 0 100%;

    &__wrapped {
      font-size: $text-xs !important;
    }

    &__wrapped-jobTitle {
      font-size: $text-sm !important;
    }
  }
}
