@import 'common/styles/Variables.scss';

.payStep1 {
  &__table {
    &__price {
      font-weight: 500;
    }

    &__quantity {
      display: flex;
      align-items: center;
      justify-content: center;

      & button {
        border: none;
        outline: none;
        background: $third-text;
        color: $third-color;
        font-size: $text-base;
        padding: 0 $pm-12;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: #f79d259e;
        }
      }

      &--prev {
        border-radius: 50% 0 0 50%;
      }

      &--next {
        border-radius: 0 50% 50% 0;
      }

      &__num {
        background: $third-text;
        color: $third-color;
        padding: $pm-2 $pm-10;
        border: none;
        width: 15%;
        text-align: center;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.sumFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__wrap {
    flex: 0 0 30%;
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: $text-lg;
    margin-bottom: $pm-10;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $pm-4;
    font-size: $text-base;

    &__tleft {
      flex: 0 0 60%;
    }

    &__tright {
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 1190px) {
  .sumFooter {
    &__wrap {
      flex: 0 0 50%;
    }
  }
}

@media screen and (max-width: 600px) {
  .sumFooter {
    &__wrap {
      flex: 0 0 100%;
    }

    &__title {
      text-align: center;
    }
  }
}
