@import "common/styles/Variables.scss";
@import "common/styles/Global.scss";

.updateProfile {
  padding: $pm-10;
  background-color: $fifth-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  &__form {
    padding: $pm-10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &--left {
      flex: 0 0 25%;
    }

    &--right {
      flex: 0 0 70%;
    }

    &--group {
      display: flex;
      align-items: center;
      margin-top: $pm-4;
      flex-wrap: wrap;

      & label {
        margin-bottom: 0;
        flex: 0 0 15%;
        color: $primary-color;
        font-weight: 700;
      }

      & div {
        flex: 0 0 75%;
      }

      &--text {
        font-size: 15px;
        color: $primary-color;
      }
    }

    &--actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: $pm-10 0;
      row-gap: 10px;

      & > button {
        flex: 0 0 48%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .updateProfile {
    &__form {
      justify-content: space-between;

      &--left {
        text-align: center;
      }

      &--group {
        margin-top: $pm-2;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .updateProfile {
    padding: $pm-4;

    &__form {
      &--left {
        text-align: center;
        flex: 0 0 100%;
      }

      &--right {
        margin-top: $pm-10;
        flex: 0 0 100%;
      }

      &--group {
        margin-top: $pm-8;
        & label {
          margin-bottom: 0;
          flex: 0 0 100%;
        }

        & div {
          flex: 0 0 100%;
        }
      }

      &--actions {
        & > button {
          flex: 0 0 100%;
        }
      }
    }
  }
}
